<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers_details">
            <td>{{customer.id}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.age}}</td>
            <td>{{customer.city}}</td>
            <td><button [routerLink]="['../edit', customer.id]" [queryParams]="{name:customer.name}" [fragment]="customer.age">Edit</button></td>
        </tr>
    </tbody>
</table>
<button (click)="add()" routerLink='../add'>Add</button>
