<form [formGroup]="EmpForm">
    <div class="mb-3">
      <label  class="form-label" >First Name:</label>
      <input type="text" class="form-control" formControlName="firstname">
    </div>
    <div class="mb-3">
      <label  class="form-label">Last Name:</label>
      <input type="text" class="form-control" formControlName="lastname">
    </div>
    <div class="mb-3">
      <label  class="form-label">Email address:</label>
      <input type="email" class="form-control" formControlName="email">
    </div>
    <div class="mb-3">
      <label class="form-label">Gender:</label>
      <input type="text" class="form-control" formControlName="gender">
    </div>
    <div class="mb-3">
      <label class="form-label">DOB:</label>
      <input type="date" class="form-control" formControlName="DOB">
    </div>
    <div class="mb-3">
      <label class="form-label">Salary:</label>
      <input type="text" class="form-control" formControlName="salary">
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    <button (click)="onAdd()">Add</button>
  </form>
  <app-employee-list [ListData]="employee"></app-employee-list>
