<div class="parent">
    <p>parent1 works!</p>
    <p>root app </p>
    <h3>{{beverages}}</h3>
    <button (click)="getName('kiran',25)">get Name</button>

    <h2>get input box value & display</h2>
    <input #box type="text" name="text-box">
    <button (click)="getInput(box.value)">click me</button>
    <!-- <p >value is: {{displayVal}}</p> -->
    <!-- <p *ngFor="let item of displayVal">value is: {{item}}</p> -->
    <div *ngFor="let item of displayVal">
        <p>value is: {{item}}</p>
    </div>
</div>
<app-child1 [coldrink]="beverages"></app-child1>