<button class="btn btn-success" (click)="onAddNew()">Add New</button>

<table class="table border">
    <thead>
      <tr class="border-1">
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone No</th>
        <th scope="col">Contact</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of employeeList" class="border">
        <td>{{data.firstname}}</td>
        <td>{{data.lastname}}</td>
        <td>{{data.email}}</td>
        <td>{{data.phoneNo}}</td>
        <td>{{data.salary}}</td>
      </tr>
    </tbody>
  </table>
