<button class="btn btn-success" (click)="onAddNew()">Add New</button>

<div class="listTable h-100">
  <table class="table border">
    <thead>
      <tr class="border-1">
        <th scope="col">FullName</th>
        <!-- <th scope="col">First Name</th>
        <th scope="col">Last Name</th> -->
        <th scope="col">Email</th>
        <th scope="col">Phone No</th>
        <th scope="col">Salary</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of employeeList" class="border">
        <!-- <td>{{data.firstname | titlecase}}</td>
        <td>{{data.lastname | titlecase}}</td> -->
        <td>{{data.fullname | titlecase}}</td>
        <td>{{data.email}}</td>
        <td>{{data.phoneNo}}</td>
        <td>{{data.salary}}</td>
        <td><button class="btn btn-warning" (click)="onEdit(data)">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
