
// Global css

// global css 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    
}

// common css 
.d-flex{
    display: flex;
}

.flex-1{
    flex-grow: 1;
}
.justify-content-between{
    justify-content: space-between;
}
// common css
.wrapper {
    height: 100%;
// <<<<<<< HEAD
    width: 100%;
    display: flex;
}
.d-flex{
    display: flex;
}
// css for a section 
.secHeader-profile{
    flex-grow: 1;
    flex-direction: column;
}

// css for a main wrapper 
.main-wrapper{
    flex-grow: 1;
}

// css for a profile wrapper inside a header bar 
// .profile-wrapper{
 // }

//  css for icon 
.icon-link{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.icon-link{
    text-decoration: none;
    color: #7f7f7f;
    font-size: 16px;
}
.align-center{
    align-items: center;
}

// header css 
.img-wrapper{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;

}
.profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
header{
    border-bottom: 1px solid #7f7f7f;
}
aside{
    width: 150px;
}
.brand-logo{
    width: 40px;
    height: 40px;
    
.brand-img{
    
    max-width: 100%;
}
}


.nav-item{
    padding: 10px;
}

