<!-- <div *ngFor="let list of ListData">{{list.firstname | json}}</div>
<p>hello list here</p> -->
<!-- <div>{{ ListData | json}}</div> -->
<h3>Employee Detail List:</h3>
<table>
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>email</th>
            <th>gender</th>
            <th>DOB</th>
            <th>salary</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Employees of ListData">
            <td>{{Employees.firstname | titlecase}}</td>
            <td>{{Employees.lastname | titlecase}}</td>
            <td>{{Employees.email}}</td>
            <td>{{Employees.gender | uppercase}}</td>
            <td>{{Employees.DOB | date}}</td>
            <td>{{Employees.salary | currency:'INR'}}</td>
            <td>
                <button (click)="onEdit(Employees)">Edit</button>
                <button class="btn-danger" (click)="onDelete(Employees.id)">Delete</button>
                <button (click)="onDetails(Employees)">Details</button>
            </td>
        </tr>
    </tbody>
</table>