// for header position 
.top-0{
    top: 8px !important;
}
.start-0{
    left: 8px !important;
}

// button-color 
.btn-primary{
    background-color: $info;
}
.btn{
    border-radius: 20px;
}

// header 
.start-100{
    left: 80% !important;
}

ul{
    list-style-type: none;
    padding-left: 0;
}