.alert-box1, .alert-box2{
    background-color: $white;
    border: 1px solid white;
}
.card-icon{
    color: #e9eaec;
    font-size: $nav-icon-size;
}
.card-text{
    color: #9fb1b8;
}
.btn-shadow{
    -webkit-box-shadow: 2px 8px 25px -7px rgba(29,165,150,1);
-moz-box-shadow: 2px 8px 25px -7px rgba(29,165,150,1);
box-shadow: 2px 8px 25px -7px rgba(29,165,150,1)
}