// Theme Colors
$primary: #96aab3;
$secondary: #fafbfd;
$white: #ffffff;
$success: #1eca1a;
$info:#1da597;
$dark: #2a4563;



// Body
$body-color: $primary;
$body-bg: $secondary;



// side-bar 
$sidebar-bg:$white;
$nav-text-hover:$info;
$navbar-hover: rgba($nav-text-hover, 0.15);

// header bar 
$header-bg:$white;

$card-cap-bg: $white;


