// Theme Colors
$primary: #96aab3;
$secondary: #fafbfd;
$white: #ffffff;
$success: #1eca1a;
$info:#1da597;
$dark: #2a4563;





// Body
$body-color: $primary;
$body-bg: $secondary;



// side-bar 
$sidebar-bg:$white;
$nav-text-hover:$info;
$navbar-hover: #f6fafd;


// header bar 
$header-bg:$white;

$card-cap-bg: $white;


// button hover-active color 
$btn-link-hover-color: $white;

// light-gray-icon
$light-gray-icon:#e9eaec;

