// Body variables
$font-family-base: 'Poppins', sans-serif;
$font-size-base:  0.875rem;



// nav variable
$sidebar-width:160px;
$nav-icon-size:25px;

// header bar 
$searchbar-width:500px;
$input-border-width:0;

$card-border-width:0;

